
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id="graphs">
    <!-- Plotly chart will be drawn inside this DIV -->
</div>

<script>

function rand() {
  return Math.random();
}

query = [{
    id: "raphtory-benchmarker",
    name: "benchmarker",
    query: "raphtory_benchmarker",
    classes: "col-sm-12 chart"
}];

function extendGraphs(graph, time, value){
  Plotly.extendTraces(graph, {
      y : [[value]],
      x : [[time]]
    }, [0],[0]
  );
}

function plotGraph(graph, time, value, color){
  Plotly.plot(graph, [{
    y: value,
    x: time,
    mode: 'lines',
    line: {color: color}
  }]);
}

function plotStackedGraph(graph, time, value){
  var plotDiv = document.getElementById(graph);
  traces = []
  for(var i = 0; i < value.length; i++){
    traces.push({x : time, y : value[i], stackgroup : 'one', name : "Partition Manager " + i})
  }
  console.log(value[0])
  Plotly.newPlot(plotDiv, traces, {title: 'Message Count per Partition Manager'});
}


function extendStackedGraph(graph, time, value, color){
  var plotDiv = document.getElementById(graph);
  traces = []
  times = []
  values = []
  for(var i = 0; i < value.length; i++){
    times.push([time]);
    values.push([value[i]]);
    traces.push(i+1);
  }
  Plotly.extendTraces(plotDiv,{x : times, y : values}, traces);
}

function generateLink(query, duration) {
    uri = window.location.origin + "/api/v1/query_range?query=raphtory_benchmarker";
    {{ if .Params.duration }}
        duration = {{ .Params.duration }};
    {{ end }}
    endTime = Math.floor(new Date() / 1000);
    {{ if .Params.endTime }}
        endTime = '{{ .Params.endTime }}';
    {{ end }}
    uri += "&step=1" + "&start=" +
        (endTime - duration) + "&end=" + endTime;
    return uri;
}

$( document ).ready(function() {

  $.ajax({
      type: 'GET',
      url: generateLink(query,60),
      dataType: 'json',
      success: function(data){preload(data, "PartitionManager", "messageCount");},
      error: function(){console.log("error");}
  });

});



function preload(data, actor, metric){
  //d = [];
  x = 0;
  divs = "<div id='graph0'></div><p id='currentg0'></p>"
  graphs = {"main":"graph0"}
  g0 = 0
  if(data['data']['result'].length !=0 && data['status'] == 'success'){
    for(i = 0; i < data['data']['result'].length; i++){
        if(data['data']['result'][i]['metric']['actor'] == actor && data['data']['result'][i]['metric']['name'] == metric){
          x++;
          divs += "<form><div id='graph" + x +  "'></div><p id='currentgraph" + x + "'></p><input type='checkbox' class='checkedgraph" + x + "' checked='true'></from>";
          graphs[data['data']['result'][i]['metric']['instance']] = 'graph' + x
        }

        }}
$("#graphs").html(divs);
x=0
gtime = []
gtime.fill(0)
gvalue = [[]]
  if(data['data']['result'].length !=0 && data['status'] == 'success'){
    for(i = 0; i < data['data']['result'].length; i++){
      time = [];
      value = [];
      if(data['data']['result'][i]['metric']['actor'] == actor && data['data']['result'][i]['metric']['name'] == metric){
        //d.push(data['data']['result'][i]);
        x++;
        tempvalue = []
        for(j = 0; j < data['data']["result"][i]["values"].length; j++){
          time.push(unixToHourMinuteSecond(data['data']["result"][i]["values"][j][0]));
          value.push(data['data']["result"][i]["values"][j][1]);
          tempvalue.push(value[j])
          gtime[j] = time[j]
          //console.log($('.checkedgraph'+x)[0]['checked'])
        }
        gvalue.push(tempvalue)
        plotGraph("graph"+x, time, value, "#ff006a");
      }
    }

    console.log(gvalue)
    plotStackedGraph("graph0",gtime,gvalue)
    setInterval(getCurrentData.bind(null, graphs, actor, metric),1000);
  }
}

function getCurrentData(graphs, actor, metric){
  $.ajax({
      type: 'GET',
      url: window.location.origin + "/api/v1/query?query=raphtory_benchmarker",
      dataType: 'json',
      success: function (data) {
        gtime = 0
        gvalue = []
        for(var g in graphs){
          for(var i = 0; i < data['data']['result'].length;i++){
            if(data['data']['result'][i]['metric']['instance'] == g && data['data']['result'][i]['metric']['actor'] == actor && data['data']['result'][i]['metric']['name'] == metric){
              time = Math.floor(data['data']['result'][i]['value'][0]);
              time = unixToHourMinuteSecond(time);
              value = data['data']['result'][i]['value'][1];
              gtime = time
              if($('.checked'+graphs[g])[0]['checked']){
                gvalue.push(value);
              }
              $('#current'+graphs[g]).html(value)
              extendGraphs(graphs[g], time, value)
            }


          }
        }
        $('#currentg0').html(gvalue);
        extendStackedGraph(graphs['main'], gtime, gvalue)

      }
  });
}

console.log(generateLink(query[0]));

function unixToHourMinuteSecond(unix){
var date = new Date(unix*1000);
var hours = date.getHours();
var minutes = "0" + date.getMinutes();
var seconds = "0" + date.getSeconds();
var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
return formattedTime;
}


</script>


{{ template "tail" }}
