COMPOSE_PROJECT_NAME=raphtory
ZOOKEEPER=zooKeeper:2181
ADD_ONLY_VERTEX=false
ADD_ONLY_EDGE=false
JAVA_OPTS=-XX:+UseConcMarkSweepGC -XX:+UseParNewGC -Xms20g -XX:NewRatio=3
PROMETHEUS=true
STDOUT_LOG=true
LAMCLASS=com.raphtory.examples.random.actors.RandomLAM
UPDATERCLASS=com.raphtory.examples.random.actors.RandomSpout
PARTITIONINGCLASS=com.raphtory.examples.partitioning.LinearGreedy
ROUTERCLASS=com.raphtory.examples.random.actors.RandomRouter
RAMP_FLAG=false
